In [17]:
# Dependencies and Setup
import pandas as pd

# Files to Load
efficiency_to_load = "EV_range_efficiency.csv"
registration_to_load = "ev_registration.csv"
sales_to_load ="pev_sales.csv"

In [18]:
# Read the data into a Pandas DataFrame
efficiency_df = pd.read_csv(efficiency_to_load)
registration_df = pd.read_csv(registration_to_load)
sales_df = pd.read_csv(sales_to_load)

In [19]:
# Determine if there are any missing values. 
efficiency_df.count()

U.S. Electric Vehicles and Corresponding Range    124
Unnamed: 1                                        124
Unnamed: 2                                        124
Unnamed: 3                                        124
dtype: int64

In [20]:
# Determine if there are any missing values. 
registration_df.count()

Electric Vehicle Registrations by State    53
Unnamed: 1                                 53
dtype: int64

In [21]:
# Determine if there are any missing values. 
sales_df.count()

U.S. PEV Sales by Model (In Order of Market Introduction)    57
Unnamed: 1                                                   56
Unnamed: 2                                                   57
Unnamed: 3                                                   57
Unnamed: 4                                                   57
Unnamed: 5                                                   57
Unnamed: 6                                                   57
Unnamed: 7                                                   57
Unnamed: 8                                                   57
Unnamed: 9                                                   57
Unnamed: 10                                                  57
Unnamed: 11                                                  57
dtype: int64

In [22]:
# Check Columns
registration_df.head()

  Electric Vehicle Registrations by State            Unnamed: 1
0                                   State   Registration Count
1                                 Alabama                 2,890
2                                  Alaska                   940
3                                 Arizona                28,770
4                                Arkansas                 1,330

In [23]:
# Check Columns
sales_df.head()

,U.S. PEV Sales by Model (In Order of Market Introduction),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Vehicle,Type,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total
1,Chevy Volt,PHEV,"7,671","23,461","23,094","18,805","15,393","24,739","20,349","18,306","4,915","156,733"
2,Nissan Leaf,EV,"9,674","9,819","22,610","30,200","17,269","14,006","11,230","14,715","12,365","141,888"
3,Smart ED,EV,342,139,923,"2,594","1,387",657,544,"1,219",680,"8,485"
4,Mitsubishi I EV,EV,76,588,"1,029",196,115,94,6,-,-,"2,104"

In [24]:
# Check Columns
efficiency_df.head()

,U.S. Electric Vehicles and Corresponding Range,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,Model Year,Make,Model,Range
1,2002,Ford,Th!nk,50
2,2008,Tesla,Roadster,220
3,2010,Tesla,Roadster,200
4,2011,BMW,Active E,94