In [13]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import seaborn as sns

In [14]:
# Files to Load 
reg_csv = "/Users/christiannaweisert/Desktop/Class_Folder/Final_Project/Resources/fl_ev_reg.csv"

In [15]:
# Read the data into Pandas DataFrames 

reg_df = pd.read_csv(reg_csv)
reg_df

         county   2018   2019    2020
0       Alachua    766    699    1600
1         Baker      5     12      28
2           Bay    300    237     570
3      Bradford     22      9      24
4       Brevard   1881   1657    3958
..          ...    ...    ...     ...
64      Volusia   1079    903    2202
65      Wakulla     25     21      50
66       Walton    211    171     420
67   Washington     13     10      17
68  Grand Total  67209  56980  136564

[69 rows x 4 columns]

In [16]:
plt.scatter(reg_df., df.Salary)
plt.xlabel('Years of Experience')
plt.ylabel('Salary in USD')
plt.show()

KeyError: "['Grand Total'] not found in axis"